.modalContainer {
    width: 100vw;
    height: 100vh;

    position: fixed;
    bottom: 0;

    display: grid;
    place-items: center;

    background: rgba(0, 0, 0, 0.5);

    div:first-of-type {
        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.3rem;

        padding: 2rem;

        background: #eef0f3;

        h2 {
            color: #363f5f;
            font-weight: 500;
        }

        div {
            padding: 0;
            width: 100%;

            &:first-of-type {
                input {
                    background: white;
                    border: 0;

                    font-size: 1.1rem;

                    padding: 0.8rem;
                }

                label {
                    margin-top: -15px;
                    font-size: 0.8rem;
                    opacity: 0.7;
                }
            }

            &:last-of-type {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                button {
                    height: 3rem;

                    border: 0;
                    border-radius: 3px;
                    cursor: pointer;

                    &:first-of-type {
                        background: inherit;
                        color: #e92929;
                        border: 2px solid #e92929;

                        opacity: 0.6;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &:last-of-type {
                        background: rgb(96, 176, 73);
                        color: #ffffff;

                        &:hover {
                            background: #3dd705;
                        }
                    }
                }
            }
        }
    }
}

.closed {
    display: none;
}
