.addTransationContainer button {
    margin-top: 3rem;

    background: inherit;
    border: 0;
    color: #60b049;
    font-size: 1rem;

    cursor: pointer;

    &:hover {
        color: #3dd705;
    }
}

.tableContainer {
    margin-top: 1.2rem;

    width: 100%;

    text-align: left;

    thead tr,
    tbody tr {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr 1fr;
    }

    thead {
        tr {
            margin: 0 2rem;
        }

        th {
            margin: 0.9rem 0;
            opacity: 0.6;
            font-weight: 400;
        }
    }

    tbody {
        tr {
            background: #ffffff;
            border-radius: 6px;
            margin: 0.6rem 0;
            padding: 1.3rem 2rem;

            td:last-of-type {
                justify-self: center;

                button {
                    font-size: 0;
                    border: 0;
                    background: inherit;
                    cursor: pointer;
                }
            }
        }
    }
}

.green {
    color: #49aa26;
}

.red {
    color: rgb(233, 41, 41);
}
