.addTransationContainer {
    display: flex;

    button {
        margin-top: 3rem;

        background: inherit;
        color: #60b049;
        border: 0;
        font-size: 1rem;

        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: #3dd705;
            transform: scale(1.05);
        }
    }

    @media (max-width: 850px) {
        & {
            justify-content: center;

            button {
                font-size: 1.15em;
            }
        }
    }
}

.tableContainer {
    margin-top: 1.2rem;

    width: 100%;

    text-align: left;

    thead tr,
    tbody tr {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    thead {
        tr {
            margin: 0 2rem;

            th {
                margin: 0.9rem 0;
                opacity: 0.6;
                font-weight: 400;
            }
        }
    }

    tbody {
        tr {
            align-items: center;

            margin: 0.6rem 0;
            padding: 1.3rem 2rem;

            background: #ffffff;
            border-radius: 6px;

            transition: 0.2s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
            }

            td {
                span {
                    display: inline-block;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                &:last-of-type {
                    display: flex;
                    gap: 0.8rem;

                    button {
                        display: flex;
                        align-items: center;

                        border: 0;
                        background: inherit;
                        cursor: pointer;

                        transition: 0.5s;

                        &:hover {
                            transform: scale(1.1);
                        }

                        img {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 568px) {
        tbody tr {
            grid-template-columns: 1fr 0.5fr;
            grid-template-rows: 1fr 1fr;
            gap: 0.5rem;
        }

        thead tr {
            grid-template-columns: 1fr 0.5fr;
            grid-template-rows: 1fr 1fr;

            margin: 0.6rem 0;
            padding: 1.3rem 2rem;

            border-radius: 6px;
            background: #ffffff;
        }
    }
}

.noFinance {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-self: center;
}

.green {
    color: #49aa26;
}

.red {
    color: rgb(233, 41, 41);
}
