.addTransationContainer button {
    margin-top: 3rem;

    background: inherit;
    border: 0;
    color: #60b049;
    font-size: 1rem;

    cursor: pointer;
    transition: 0.5s;

    &:hover {
        color: #3dd705;
        transform: scale(1.05);
    }
}

.tableContainer {
    margin-top: 1.2rem;

    width: 100%;

    text-align: left;

    thead tr,
    tbody tr {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr 1fr;
    }

    thead {
        tr {
            margin: 0 2rem;

            th {
                margin: 0.9rem 0;
                opacity: 0.6;
                font-weight: 400;
            }
        }
    }

    tbody {
        tr {
            align-items: center;

            margin: 0.6rem 0;
            padding: 1.3rem 2rem;

            background: #ffffff;
            border-radius: 6px;

            &:hover {
                opacity: 0.85;
            }

            td {
                span {
                    display: inline-block;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                &:last-of-type {
                    justify-self: center;

                    button {
                        display: flex;
                        align-items: center;

                        border: 0;
                        background: inherit;
                        cursor: pointer;

                        transition: 0.5s;

                        &:hover {
                            transform: rotateY(180deg);
                        }

                        img {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
}

.green {
    color: #49aa26;
}

.red {
    color: rgb(233, 41, 41);
}
