.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    margin-top: -5rem;
    padding: 1rem 8rem;

    height: 8rem;
    font-size: 1.2em;

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: var(--card-background);
        border-radius: 6px;
        padding: 1.3rem;

        &:last-of-type {
            color: #ffffff;
            background: rgb(73, 170, 38);
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        span:last-child {
            font-size: 1.6em;
        }
    }

    @media (max-width: 1050px) {
        padding: 0 4rem;
    }

    @media (max-width: 800px) {
        padding: 0 2rem;
        height: auto;
    }

    @media (max-width: 650px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        padding: 2rem 1rem;
        background: var(--header-background);
    }
}
