.addTransationContainer {
    margin-top: 3rem;

    button {
        background: inherit;
        border: 0;
        color: #60b049;
        font-size: 1rem;

        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: #3dd705;
            transform: scale(1.05);
        }
    }

    @media (max-width: 650px) {
        display: flex;
        justify-content: center;

        button {
            transform: scale(1.1);
        }
    }
}

.tableContainer {
    margin-top: 1.2rem;

    width: 100%;

    text-align: left;

    thead tr,
    tbody tr {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr auto;
    }

    thead {
        tr {
            margin: 0 2rem;

            th {
                margin: 0.9rem 0;
                opacity: 0.6;
                font-weight: 400;

                &:last-of-type {
                    text-align: center;
                }
            }
        }
    }

    tbody {
        tr {
            align-items: center;

            margin: 0.6rem 0;
            padding: 1.3rem 2rem;

            background: #ffffff;
            border-radius: 6px;

            &:hover {
                opacity: 0.85;
            }

            td {
                span {
                    display: inline-block;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                &:last-of-type {
                    display: flex;
                    justify-self: end;
                    gap: 0.8rem;

                    button {
                        display: flex;
                        align-items: center;

                        border: 0;
                        background: inherit;
                        cursor: pointer;

                        transition: 0.5s;

                        &:hover {
                            transform: scale(1.1);
                        }

                        img {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        tbody tr,
        thead tr {
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            row-gap: 1rem;

            td:last-of-type {
                gap: 0.4rem;
            }
        }

        thead {
            background: #ffffff;

            tr {
                row-gap: 0.4rem;

                th {
                    margin: 0.6rem 0;
                }
            }
        }

        th:nth-child(2),
        .green,
        .red {
            text-align: end;
        }
    }
}

.green {
    color: #49aa26;
}

.red {
    color: rgb(233, 41, 41);
}
